:root {

    --black: #28282B;
    --blue: #303481;
    --lightBlue: #D6E6F2;
    --white: #F5F5F5;
    --yellow: #FFF200;
    --gray: #d7d6d6;
}

body{

    background: var(--white);

}

.img-thumbnail {
    max-height: 300px;
    object-fit: cover;
}

.img_con{

    background: none !important;
   

}

::-webkit-scrollbar {

    width: 0;

}